node_modules/
package-lock.json
dist/

*.map

!.gitkeep

app/public/*
!app/public/wp-content/
app/public/wp-content/languages/
app/public/wp-content/plugins/
app/public/wp-content/uploads/
app/public/wp-content/index.php
app/public/wp-content/ewww/
app/public/wp-content/themes/dummy/