<% let pageId="blog" ; %>
    <% let commonPath="../common/" %>
        <% let meta=require("../../data/site.json"); %>

            <%- include(`${commonPath}_head.ejs` , {pageId: pageId, meta: meta}) %>
                <%- include(`${commonPath}_header.ejs` , {pageId: pageId, meta: meta}) %>

                    <div class="l-blog">
                        <main>
                            <div class="l-container">
                                <%- include(`${commonPath}_breadcrumb.ejs` , {pageId: pageId, meta: meta}) %>
                                    <h1>ブログページです<i class="fa-regular fa-star"></i></h1>
                                    <div class="test">テスト</div>
                                    <div class="hoge"></div>
                            </div>
                        </main>
                    </div>

                    <%- include(`${commonPath}_footer.ejs` , {pageId: pageId, meta: meta}) %>