<div class="l-breadcrumb p-breadcrumb">
    <% for (let i in meta.pages[pageId].breadcrumb) { %>
        <% let path=meta.pages[pageId].breadcrumb[i].path; let label=meta.pages[pageId].breadcrumb[i].label; %>
            <% if (path==='' ) { %>
                <span><span class="current-item">
                        <%= label %>
                    </span></span>
                <% } else { %>
                    <span><a href="<%= path %>">
                            <%= label %>
                        </a></span>
                    &nbsp;&gt;&nbsp; <% } %>
                        <% } %>
</div>