<footer class="l-footer p-footer">
    <div class="l-container p-footer__container">
        <p class="p-footer__copyright">
            &copy;&nbsp;2020&nbsp;-
            <script type="text/javascript" language="JavaScript">
                current = new Date();
                document.write(current.getFullYear())
            </script>
            <%= meta.global.title %>
        </p>
    </div>
</footer>

<script src="/js/bundle.js"></script>
</body>

</html>