<footer class="l-footer p-footer">
    <div class="l-container p-footer__container">
        <nav class="p-footer__nav p-footer-nav">
            <ul class="p-footer-nav__items">
                <% for (let key in meta.local) { %>
                    <% if (key!=="home" ) { %>
                        <li><a href="<%= meta.local[key].slug %>">
                                <%= meta.local[key].title %>
                            </a></li>
                        <% } %>
                            <% } %>
            </ul>
        </nav>
        <p class="p-footer__copyright">
            &copy;&nbsp;2020&nbsp;-
            <script type="text/javascript" language="JavaScript">
                current = new Date();
                document.write(current.getFullYear())
            </script>
            <%= meta.global.title %>
        </p>
    </div>
</footer>

<button class="l-button-to-top c-button-to-top js-button-to-top"></button>
<script src="/js/bundle.js"></script>
</body>

</html>