<% let pageId="contact" ; %>
    <% let commonPath="../common/" %>
        <% let meta=require("../../data/site.json"); %>
            <%- include(`${commonPath}_head.ejs` , {pageId: pageId, meta: meta}) %>
                <%- include(`${commonPath}_header.ejs` , {pageId: pageId, meta: meta}) %>
                    <div class="l-contact">
                        <main>
                            <div class="l-container">
                                <%- include(`${commonPath}_breadcrumb.ejs` , {pageId: pageId, meta: meta}) %>
                                    <h1>お問い合わせページです</h1>
                                    <div class="test">テスト</div>
                                    <div class="hoge"></div>
                            </div>
                        </main>
                    </div>
                    <%- include(`${commonPath}_footer.ejs` , {pageId: pageId, meta: meta}) %>