@use "../../global/" as *;

// ----------
// モバイルファースト用
// ----------
.l-container {
    margin: 0 auto;
    max-width: rem(strip-unit($l-container-sp) + strip-unit($padding-sp) * 2);
    padding: 0 rem(strip-unit($padding-sp));
    width: 100%;

    @include mq('md') {
        max-width: rem(strip-unit($l-container-pc) + strip-unit($padding-pc) * 2);
        padding: 0 rem(strip-unit($padding-pc));
    }
}

// ----------
// PCファースト用
// ----------
// .l-inner {
//     margin: 0 auto;
//     max-width: rem(strip-unit($l-container-pc) + strip-unit($padding-pc) * 2);
//     padding: 0 rem(strip-unit($padding-pc));
//     width: 100%;

//     @include mq('md') {
//         max-width: rem(strip-unit($l-container-sp) + strip-unit($padding-sp) * 2);
//         padding: 0 rem(strip-unit($padding-sp));
//     }
// }