<% let pageId='home' ; %>
    <% let commonPath='./common/' ; %>
        <% let meta=require('../data/site.json'); %>

            <%- include(`${commonPath}_head.ejs` , {pageId: pageId, meta: meta}) %>
                <%- include(`${commonPath}_header.ejs` , {pageId: pageId, meta: meta}) %>

                    <div class="l-home">
                        <main>
                            <div class="l-container">
                                <h2>トップページです<i class="fa-solid fa-sun"></i></h2>
                                <div class="test">テスト</div>
                                <div class="hoge"></div>
                            </div>
                        </main>
                    </div>

                    <%- include(`${commonPath}_footer.ejs` , {pageId: pageId, meta: meta}) %>